# Nanoc crash logs
crash.log

# Locally bundled gem directory.
vendor/bundle/

# Don't add answers data until we've audited / stripped it.
answers/

# nanoc output and temporary directories.
output/
tmp/

