#!/usr/bin/env ruby

compile '/index.md' do
  filter :redcarpet
  layout '/default.*'

  write ext: 'html'
end

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/questions/{ros,gz}/question/*.md' do
  filter :redcarpet
  layout '/question.*'

  write item.identifier.without_ext + '/index.html'
end

compile '/questions/{ros,gz}/question/*/answer/*.md' do
  filter :redcarpet
  layout '/answer.*'
end

compile '/questions/{ros,gz}/question/*/answer/*/comment/*.md' do
  filter :redcarpet
  layout '/answer.*'
end

compile '/questions/{ros,gz}/question/*/comment/*.md' do
  filter :redcarpet
  layout '/answer.*'
end

compile '/questions/{ros,gz}/index.md' do
  filter :redcarpet
  layout '/index.*'

  write item.identifier.to_s.sub(/\.md$/, ".html")
end

compile '/nginx/*.conf.inc' do
  filter :erubis
  layout "/nginx.conf"

  write item.identifier.to_s
end

compile '/httpd/*.conf.inc' do
  filter :erubis
  layout "/nginx.conf"

  write item.identifier.to_s
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erubis
