#!/usr/bin/env ruby

REDCARPET_OPTIONS = {
  no_infra_emphasis: true,
  autolink: true,
}

preprocess do
  questions = @items.find_all('/question/*.md')
  authors = {}
  questions.each do |q|
    author_id = q[:owner_id]
    authors[author_id] = { questions: [], id: author_id, name: q[:owner_display_name], karma: q[:owner_karma] } unless authors.include? author_id
    authors[author_id][:questions] << q
  end

  authors.each_value do |author|
    @items.create(
      '',
      author,
      "/users/#{author[:id]}.md"
    )
  end
end

compile '/**/index.md' do
  filter :redcarpet, options: REDCARPET_OPTIONS
  if item.identifier =~ '/questions/index.md'
    layout '/questions-index.html'
  elsif
    layout '/index.*'
  end

  layout '/default.*'

  write ext: 'html'
end

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/question/*.md' do
  filter :redcarpet, options: REDCARPET_OPTIONS
  layout '/question.html'
  write item.identifier.without_ext + '/index.html'
end

compile '/users/*.md' do
  filter :redcarpet, options: REDCARPET_OPTIONS
  layout '/user.html'
  write item.identifier.without_ext + '/index.html'
end

# compile '/nginx/*.conf.inc' do
#   filter :erubis
#   layout "/nginx.conf"

#   write item.identifier.to_s
# end

# compile '/httpd/*.conf.inc' do
#   filter :erubis
#   layout "/nginx.conf"

#   write item.identifier.to_s
# end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erubis
