body {
  background: #fff;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

header.site {
  padding: 10px;
  border-bottom: thick solid #000;
}

#main {
  margin: 50px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  line-height: 1.2rem;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  line-height: 1.2rem;
}

#main ul li {
  list-style-type: square;
}

#main div.question,div.answer,div.comment {
	padding: max(1%, 10px);
	margin: max(1%, 10px);
	border-color: black;
	border-style: solid;
	border-width: 2px;
	border-collapse: collapse;
}

#main div.question > p.note.migrated {
	background-color: #c803;
	padding: 5px;
}

#main div.answer > div.accepted {
	border-top: 2px solid #0c0;
}

#main div.answer span.accepted {
	font-size: 200%;
}

#main section.questions {
  border-color: black;
  border-style: solid;
}

#main section.questions > div.question {
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
}

#main img {
  display: block;
  margin: auto;
  max-width: min(500px, 90%);
  padding: max(1%, 10px);
}
