* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

body {
  background: #fff;
}

header.site {
  padding: 10px;
  border-bottom: thick solid #000;
}

#main {
  margin: 50px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;

  line-height: 40px;

  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;

  font-size: 15px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}
