<div class="answer<% if item[:accepted?] %> accepted<% end %>">
  <%= yield %>
  <% if item[:accepted?] %>
  <div class="accepted">
    <span class="accepted">☑️</span> This answer was <strong>ACCEPTED</strong> on the original site.
  </div>
  <% end %>
  <div class="owner">
    <p>Answer by <%= item[:owner].display_name %> on <%= pretty_date item[:creation_date] %></p>
  </div>
    <%
      comments = comments_for @item
      if !comments.empty?
    %>
    <section class="comments">
      <h4>Comments</h4>
      <% comments.sort_by{|comment| comment[:creation_date]}.each do |comment| %>  
      <%= comment.reps.find{|r| r.name == :default}.compiled_content(snapshot: :last) %> 
      <% end %>
    </section>
    <% end %>
</div>
