<div class="answer<% if item[:Accepted] %> accepted<% end %>">
  <%= yield %>
  <% if item[:Accepted] %>
  <div class="accepted">
    <span class="accepted">☑️ </span> This answer was <strong>ACCEPTED</strong> on the original site.
  </div>
  <% end %>
  <div class="owner"><p>Asked by <%= item[:OwnerDisplayName] %> on <%= pretty_date item[:CreationDate] %></p></div>

  <section class="comments">
    <h3>Comments</h3>
    <% item[:Comments].each do |comment| %>
      <% render '/comment.html', :item => comment do %>
        <%= render_markdown comment[:BodyMarkdown] %>
      <% end %>
    <% end %>
  </section>
</div>
