<!DOCTYPE html>
<html lang="en">
  <%= render '/html_head.html' %>
  <body>
    <%= render '/site_header.*' %>
    <div id="main">
      <h2><%= item[:title] %></h2>
      <div class="question">
        <% if item[:migrated_url] %>
        <p class="note migrated">This question has also been migrated to <a href="https://robotics.stackexchange.com">Robotics StackExchange</a> as <a href="<%= item[:migrated_url] %>"><%= item[:migrated_url] %></a>.</p>
        <% end %>
        <%= yield %>
        <div class="owner"><p>Asked by <%= item[:owner_display_name] %> on <%= pretty_date item[:creation_date] %></p></div>
      </div>

      <section class="comments">
        <h3>Comments</h3>
        <% item[:comments].each do |comment| %>
          <% render '/comment.html', :item => comment do %>
            <%= render_markdown comment[:body_markdown] %>
          <% end %>
        <% end %>
      </section>

      <section class="answers">
        <h3>Answers</h3>
        <% item[:answers].each do |answer| %>
          <% render '/answer.html', :item => answer do %>
            <%= render_markdown answer[:body_markdown] %>
          <% end %>
        <% end %>
      </section>
    </div>
  </body>
</html>
