
<!DOCTYPE HTML>
<html lang="en">
  <%= render '/html_head.html' %>
  <body>
    <%= render '/site_header.*' %>
    <div id="main">
      <div class="question">
        <%= yield %>
      </div>
      <%
        answers = answers_for @item
        if !answers.empty?
      %>
      <section class="answers">
        <% answers.sort_by{|answer| answer[:creation_date]}.each do |answer| %>  
        <%= answer.reps.find{|r| r.name == :default}.compiled_content %> 
        <% end %>
      </section>
      <% end %>
    </div>
  </body>
</html>
