
<!DOCTYPE HTML>
<html lang="en">
  <%= render '/html_head.html' %>
  <body>
    <%= render '/site_header.*' %>
    <div id="main">
      <div class="question">
        <h3><%= item[:title] %></h3>
        <% if item[:migrated_url] %>
        <p class="note migrated">This question has also been migrated to <a href="https://robotics.stackexchange.com">Robotics StackExchange</a> as <a href="<%= item[:migrated_url] %>"><%= item[:migrated_url] %></a>.</p>
        <% end %>
        <%= yield %>
      </div>
      <%
        answers = answers_for @item
        if !answers.empty?
      %>
      <section class="answers">
        <% answers.sort_by{|answer| answer[:creation_date]}.each do |answer| %>  
        <%= answer.reps.find{|r| r.name == :default}.compiled_content(snapshot: :last) %> 
        <% end %>
      </section>
      <% end %>
    </div>
  </body>
</html>
