<!DOCTYPE html>
<html lang="en">
  <%= render '/html_head.html' %>
  <body>
   <%= render '/site_header.*' %>
   <div id="main">
    <h2><%= item[:name] %></h2>
    <h3>Karma: <%= item[:karma] %></h3>
    <section class="questions">
      <% item[:questions].each do |question| %>
      <div class="question">
        <a href="/question/<%= question[:original_post_id] %>/"><b><%= h question[:title] %></b></a> |
        <%= question[:answers].size %> answers |
        <%= question[:upvote_count] %> votes |
        Asked on <em><%= pretty_date question[:creation_date] %></em>
      </div>
      <% end %>
    </section>
   </div>
  </body>
</html>
